@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

html {
  background-image: url("/images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}


body {
  background: none;
  line-height: 1.5;
  color: #f5f5f5;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 50px;
}

.black_text {
  color: black;
}

.container .jumbotron, .container-fluid .jumbotron {
  padding-left: 0px;
  padding-right: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive;
  margin-top: 0;
}

p {
  margin-bottom: 1rem;
}

a {color: white;}      /* unvisited link */
a:visited {color: white;}  /* visited link */
a:hover {color: green;}  /* mouse over link */
a:active {color: yellow;}  /* selected link */

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-brand:hover {
  color: yellow;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: yellow;
}


.jumbotron {
  background: none;
  margin-top: 75px;
  margin-bottom: 75px;
}

.jumbotron h1 {
  font-size: 120px;
}

.jumbotron .lead {
  font-size: 32px;
}


.first_slide, .second_slide, .third_slide {
  display: block;
  margin-left: auto;
  margin-right: auto
}

@media (max-width: 992px) {
  .jumbotron h1 {
    font-size: 72px;
  }
}

@media (max-width: 768px) {
  .jumbotron h1 {
    font-size: 40px;
  }
  .jumbotron .lead {
    font-size: 20px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}
/*

.pun_img {
  margin-bottom: 1rem;
}

.pun_img img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border-radius: 4px;
}

.pun_img:hover img {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}
*/

.hover-zoom {
  -webkit-transition: all 0.4s ease;
  border-radius: 4px;
}

.hover-zoom:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.pun_imgs {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.square-img {
  object-fit: cover;
  width: 330px;
  height: 330px;
}

.site-footer span {
  margin-right: 0.5em;
}

.site-footer {
  margin-bottom: 3rem;
}

a > .fa {
  transition: all .2s ease-in-out;
}

a > .fa:hover {
  transform: scale(1.3);
}

.fa-facebook-official:hover {
  color: #4267b2;
}

.fa-linkedin-square:hover {
  color: #0077B5;
}

.fa-github:hover {
  color: #5B297E;
}

.fa-user-circle:hover {
  color: green;
}

.carousel-inner img {
  margin: auto;
  background: transparent;
}

#navbar_template {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.panel-default {
  background: transparent;
  overflow-y: auto;
}

.contact-info {
  text-align: center;
}

.contact-info .fa {
  margin-right: 4px;
}

.fa-envelope-o, .fa-mobile {
  transition: all .5s ease-in-out;
}

.fa-envelope-o:hover, .fa-mobile:hover  {
  transform: rotateY(180deg);
}

.header {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.uw {
  background: url('/images/uwbg.png');
  background-size: contain;
}

.spacing-bottom {
  margin-bottom: 50px;
}

.film-bg {
  background-image: url("/images/film_bg.jpg");
}

.light-margins {
  margin-bottom: 16px;
}

.top-margins {
  margin-top: 16px;
}

.tiny-margins {
  margin-top: 0.5em;
}

.inactive {
  opacity: 0.5;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay .overlay-bottom {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay .overlay-top {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 15%;
  right: 15%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.overlay:hover .overlay-bottom {
  opacity: 0.3;
}

.overlay:hover .overlay-top {
  opacity: 1;
}

.anchor {
  padding-top: 50px;
  margin-top: -50px;
}

div.gallery {
  margin: 5px;
  float: left;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery {
  width: 100%;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 4px;
  text-align: center;
}

.grid-align {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
